<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1.0, viewport-fit=cover'
    />
    <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Poppins&display=swap'
      rel='stylesheet'
    />
    <script src='/js/login.js'></script>
    <script src='/js/logout.js'></script>
    <title>plant friend</title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>