<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Poppins&display=swap'
      rel='stylesheet'
    />
    <link href='/public/stylesheets/style.css' rel='stylesheet' />
    <title>plant friend</title>
  </head>

  <body>
    <container class='gallery w-screen flex'>
      <div class='grid grid-cols-1 mx-auto w-2/3'>
        <header>
          <div class='flex justify-end mt-48 lg:mt-12'>
            <h1 class='text-5xl text-green-800 font-poppins flex-grow'>
              plant friend
            </h1>
            <ul class='flex justify-'>
              <!-- If we add a route for non registered users, keep. Else delete. -->
              <!-- <li class="mr-6">
              <a
                class="text-green-800 hover:text-green-600 font-poppin"
                href="#"
                >Search</a
              >
            </li> -->
              <li class='mr-6'>
                <a
                  class='text-green-800 hover:text-green-600 font-poppin'
                  href='/results'
                >Search Results</a>
              </li>
              <!-- If we add a route for non registered users, use handlebars to change sign in/out -->
              <li class='mr-6'>
                <a
                  id='logout'
                  class='text-green-800 hover:text-green-600 font-poppin'
                  href='#'
                >Sign Out</a>
              </li>
            </ul>
          </div>
        </header>
        <div class='my-48 md:my-60 sm:md flex flex-col place-items-center'>
          <div
            class='grid grid-cols-1 gap-8 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4'
          >
            {{#each resultsArray}}
              <div class='flex justify-center'>
                <div class='rounded-lg shadow-lg bg-white max-w-sm'>
                  <a href='#!'>
                    <img
                      class='rounded-t-lg'
                      src='/assets/fillerPlant.webp'
                      alt=''
                    />
                  </a>
                  <div class='p-6'>
                    <h5 class='text-gray-900 text-xl font-medium mb-2'>
                      {{plant_name}}
                    </h5>
                    <button
                      type='button'
                      class='inline-block px-6 py-2.5 bg-green-800 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-green-600 hover:shadow-lg focus:bg-gray-400 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-400 active:shadow-lg transition duration-150 ease-in-out'
                    >
                      Remove Favorite
                    </button>
                  </div>
                </div>
              </div>
            {{/each}}

          </div>
        </div>
      </div>
    </container>
  </body>
</html>