@tailwind base;
@tailwind components;
@tailwind utilities;

.footer {
  background-image: url(public/assets/BottomBorder.png);
  background-size: cover;
}

.home {
  background: url(public/assets/HomeLeftCorner.png) left top no-repeat,
    url(public/assets/HomeRightCorner.png) right top no-repeat,
    url(public/assets/BottomBorder.png) bottom no-repeat;
  background-size: auto, auto, 100%;
  background-color: gray-100;
}

.gallery {
  background: url(public/assets/galleryTopLeft.png) left top no-repeat,
    url(public/assets/galleryBottomRight.png) right bottom no-repeat;
  background-size: auto, auto;
  background-color: gray-100;
  background-attachment: fixed, fixed;
}
